asgiref==3.2.10
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
Django==3.1
gevent==20.6.2
greenlet==0.4.16
idna==2.10
pycparser==2.19
pytz==2020.1
requests==2.24.0
six==1.12.0
sqlparse==0.3.1
urllib3==1.25.10
websocket==0.2.1
websocket-client==0.56.0
zope.event==4.4
zope.interface==5.1.0
