<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>audio record</title>
</head>
<body>
    <div class="app">
        <button class="record-btn">synthesise</button>
        synthesis text<input type="text" value="不管我的梦想能否成为事实" id="evaluate_text">
        <audio controls class="audio-player"></audio>
    </div>
    <script src="{% static 'recorder2.js' %}"></script>
</body>
</html>